.header {
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.heade__name::before {
  content: "/";
  margin: 0 5px;
  color: #999;
}
